@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  scroll-behavior: smooth;
}

.header {
  /* border: 1px solid red; */
  margin-bottom: -380px;
}

.Tributeset {
  position: relative;
  display: inline-block;
  bottom: 410px;
  left: 50px;
  color: whitesmoke;
  font-family: "Oswald", sans-serif;
  /* border: 2px solid red;     */
}

.first {
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
}

.second {
  font-weight: 700;
  font-size: 250px;
  line-height: 195px;
  margin-left: -10px;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.discmm {
  position: absolute;
  width: 60px;
  height: auto;
  top: 280px;
  left: 230px;
  cursor: pointer;
  /* border: 1px solid red; */
}

.rotator {
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.s1,
.s2,
.s3,
.s4,
.s5 {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: auto;
  border-top: 7px solid rgb(165, 164, 164);
  padding: 0 50px 30px;
}

.s1 {
  background-color: #f8f8f8;
}

.s2 {
  background-color: #f4f4f4;
}

.s3 {
  background-color: #f0f0f0;
}

.s4 {
  background-color: #ececec;
}

.s5 {
  background-color: #e8e8e8;
}

.section {
  /* border: 1px solid red; */
  text-align: justify;
  word-wrap: break-word;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.firstsection {
  font-size: 30px;
}

.musicsection{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.musicsection img{
  width: 25px;
  height: auto;
}

.footerimage{
  width: 15px;
  height: auto;
}

@media screen and (max-width: 991px) {
  .first {
    font-size: 50px;
    line-height: 50px;
  }

  .second {
    font-size: 200px;
    line-height: 160px;
  }

  .Tributeset {
    bottom: 350px;
    left: 50px;
  }

  .discmm {
    width: 50px;
    left: 190px;
    top: 230px;
  }

  .header {
    margin-bottom: -315px;
  }

  .section {
    font-size: 18px;
  }

  .s1,
  .s2,
  .s3,
  .s4,
  .s5 {
    padding: 0 40px 20px;
    border-top: 5px solid rgb(165, 164, 164);
  }

  .firstsection {
    font-size: 28px;
  }
}

@media screen and (max-width: 575px) {
  .first {
    font-size: 45px;
  }

  .second {
    font-size: 180px;
    line-height: 140px;
  }

  .Tributeset {
    bottom: 310px;
    left: 30px;
  }

  .discmm {
    width: 45px;
    left: 170px;
    top: 210px;
  }

  .header {
    margin-bottom: -292px;
  }

  .section {
    font-size: 15px;
  }

  .s1,
  .s2,
  .s3,
  .s4,
  .s5 {
    padding: 0 30px 10px;
  }

  .firstsection {
    font-size: 25px;
  }
}